<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesCliente.css') }}">
</head>
<body>
    <h1>Lista de Clientes</h1>
    
    <!-- Botones para Agregar, Editar y Eliminar -->
    <div style="text-align: center;">
        <a href="/agregar_cliente" class="button">Agregar Cliente</a>
        <a href="/editar_clientes" class="button">Editar Cliente</a>
        <a href="/eliminar_cliente" class="button">Eliminar Cliente</a>
    </div>

        {% if clientes %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th>Correo</th>
                    <th>Celular</th>
                    <th>Dirección</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente[0] }}</td> <!-- ID -->
                    <td>{{ cliente[1] }}</td> <!-- Nombre -->
                    <td>{{ cliente[2] }}</td> <!-- Apellido -->
                    <td>{{ cliente[3] }}</td> <!-- DNI -->
                    <td>{{ cliente[4] }}</td> <!-- Correo -->
                    <td>{{ cliente[5] }}</td> <!-- Celular -->
                    <td>{{ cliente[6] }}</td> <!-- Dirección -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay clientes disponibles.</p>
    {% endif %}
</body>
</html>