<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Bienvenido a Nuestro Proyecto</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/about">Acerca de</a></li>
                <li><a href="/contact">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Introducción</h2>
            <p>Esta es la página de inicio de nuestro proyecto. Aquí encontrarás información relevante y enlaces a otras secciones.</p>
            <a href="/clientes" class="button">Ver Clientes</a>
            <a href="/pedidos" class="button">Ver Pedidos</a>
        </section>
        <section>
            <h2>Productos</h2>
            <div class="productos">
                {% for producto in productos %}
                    <div class="producto">
                        <img src="{{ producto['url_imagen'] }}" alt="{{ producto['nombre'] }}">
                        <h3>{{ producto['nombre'] }}</h3>
                        <p>{{ producto['descripcion'] }}</p>
                        <p>Precio: {{ producto['precio'] }}</p>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Proyecto IngDatos.</p>
    </footer>
</body>
</html>